body, header, footer, main, .container  {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container, main  {
  flex-direction: column;
  height: 100vh;
}

.header {
  align-items: center;
  justify-content: space-between;
  flex-basis: 3em;
  &-logo {
    margin-left: 0.5em;
    margin-right: auto;
  }
  &-avatar {
    width: 2em;
    height: 2em;
    margin: 0;
  }
  &-name {
    margin-left: 0.5em;
  }
  &-name:last-of-type {
    margin-left: 0.5em;
  }
}

.content {
  width: 100vw;
  flex: auto;
  overflow: auto;
  padding: 1em 1em 0em 1em;
}

/** Table */
.content-table {
  margin: 1em;
  padding: 0.5em 2em;;
  display: flex;
  flex-direction: row;

}

/** Table Columns */
.content-table-column {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: flex-start;
}

.content-stack  {
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.content-stack-column {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: stretch;
}

.content-stack-column-card {
  padding: 1em;
  flex: 0 0 5em;
  margin: 1em;
}

.footer {
  align-items: center;
  justify-content: flex-end;
  flex-basis: 3em;
  &-link {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }
  &-view {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }

}